@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;

}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}